.preloader {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    background-color: #fff!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    z-index: 1000
}

.cssload_container {
    position: relative
}

.cssload_whirlpool,.cssload_whirlpool:after,.cssload_whirlpool:before {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    border-left-color: #000;
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px
}

.cssload_whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px
}

.cssload_whirlpool,.cssload_whirlpool:before {
    animation: cssload-rotate 1.15s linear infinite!important;
    -o-animation: cssload-rotate 1.15s linear infinite;
    -ms-animation: cssload-rotate 1.15s linear infinite;
    -webkit-animation: cssload-rotate 1.15s linear infinite;
    -moz-animation: cssload-rotate 1.15s linear infinite
}

.cssload_whirlpool:before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px
}

.cssload_whirlpool:after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2.3s linear infinite!important;
    -o-animation: cssload-rotate 2.3s linear infinite;
    -ms-animation: cssload-rotate 2.3s linear infinite;
    -webkit-animation: cssload-rotate 2.3s linear infinite;
    -moz-animation: cssload-rotate 2.3s linear infinite
}

@keyframes cssload-rotate {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes cssload-rotate {
    to {
        -webkit-transform: rotate(1turn)
    }
}